@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

    :root {
      --turquoise: #57BACF;
      --turquoise-fonce: #007AA0;
      --bleu-clair: #90E0EF;
      --vert: #BDF4C3;
      --rouge: #EE2E31;

    }

    body {
      margin: 0;
      background: linear-gradient(#9EE8FF, var(--vert));
      display : flex;
      flex-direction : row;
      justify-content : space-around;
      flex-wrap : nowrap;
      overflow : hidden;
    }

    canvas {
      /* margin: 0 auto; */
      z-index: 99;
    }

    #globe {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;
    }

    .title {
      position: absolute;
      top: 2em;
      left: 3em;      
      top: 20px;
      left: 25px;
    }

    .title>h1 {
      font-family: Playfair Display;
      color: var(--turquoise);
      margin: 0;
    }

    #sliderPart {
        /* width : 850px;
        height : 650px;
        margin-left : 400px;
        align-self: center;
        display : flex;
        flex-direction : inherit;
        justify-content: center;
        flex-wrap : nowrap;
        margin-left : 200px;
        font-size : 12px; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% - 30px), -50%);  
    }

    #legend {
        width : 300px;
        /* align-self: flex-end;
        display: flex;
        flex-direction : column;
        justify-content : flex-end;
        margin-bottom : 10px; */
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    #coeff{
        width : auto;
        height : auto;
        display : flex;
        flex-direction : column;
        justify-content : flex-end;
    }

    #vaccination {
        justify-content : flex-end;
        margin-top : 20px;
        margin-bottom : 20px;
        margin-left : 135px;
    }